<ion-header>
  <ion-toolbar>
    <ion-title>
      Plugins de Capacitor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<p>
  <ion-button expand="block" (click)="copyText()">
    Copiar texto al portapapeles
  </ion-button>
</p>
<p>
  <ion-button expand="block" (click)="readText()">
    Leer texto del portapapeles
  </ion-button>
</p>
  <ion-button expand="block" (click)="increaseZoom()">
    Aumentar zoom de texto
  </ion-button>

  <ion-button expand="block" (click)="decreaseZoom()">
    Disminuir zoom de texto
  </ion-button>

  <ion-button expand="block" (click)="showToast()">
    Mostrar Toast
  </ion-button>

  <ion-text>
    <p>
      Texto de ejemplo para probar el zoom. Este texto debería cambiar de tamaño si el zoom se modifica en Android/iOS.
    </p>
  </ion-text>

</ion-content>

